@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@font-face {
    font-family: "Peyda";
    src: url("/Peyda-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Peyda";
    src: url("/Peyda-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Peyda";
    src: url("/Peyda-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(286deg, #030712 5.47%, #000512 100%);
}

.main-gradient {
    background: linear-gradient(286deg, #030712 5.47%, #000512 100%);
}
